@mixin flex() {
    display: flex;
}

.flex {
    @include flex;
}

.flex-row {
    @include flex;

    flex-direction: row;
}

.flex-column {
    @include flex;

    flex-direction: column;
}

.flex-column-center {
    align-items: center;
}

.flex-row-center {
    justify-content: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-warp {
    flex-wrap: wrap;
}

.flex-row-end {
    justify-content: flex-end;
    margin-left: auto;
}

.gap-24 {
    gap: 24px;
}

.gap-22 {
    gap: 22px;
}

.gap-12 {
    gap: 12px;
}

.gap-8 {
    gap: 8px;
}

.gap-4 {
    gap: 4px;
}
