@mixin grid() {
    display: grid;
}

.grid {
    @include grid;
}

.grid-row2 {
    @include grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-row3 {
    @include grid;
    grid-template-columns: repeat(3, 1fr);
}
