:root {
    // 编辑器相关
    --editor-header-height: 60px;
    --editor-nav-width: 87px;

    // 颜色
    --color-primary: #409eff;
    --color-bgcolor: #f5f5f5;
    --color-white: #fff;

    // 边框
    --base-border-width: 4px;
}
