.editor-runtime {
    position: relative;
    width: 100%;
    background-color: var(--color-bgcolor);
    flex: 1;

    .runtime-warpper {
        background-color: var(--color-white);
    }
}

.editor-mask-wrapper {
    position: absolute;
    z-index: 99999;
    overflow: hidden;
    margin: auto;
    transform: skewX(50%);
}
