@import '../__scssMixin/index';

.simulator-container {
    position: relative;
    width: 100%;
    background-color: var(--color-bgcolor);
    flex: 1;
}

.simulator-editor {
    background-color: var(--color-white);
}

.list-group-item {
    position: relative;
    padding: 3px;
    cursor: move;

    > div {
        position: relative;
    }

    &.focus {
        @include show-component-border;
    }

    &.drag::after {
        display: none;
    }

    &:not(.has-slot) {
        content: '';
    }

    &.focus-with-child {
        @include show-container-border;
    }

    i {
        cursor: pointer;
    }
}
