$border-width: 3px;
$box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);

.nav-warppewarpperr,
.content-warpper {
    background-color: var(--color-white);
}

.nav-warpper {
    position: sticky;
    z-index: 9;
    width: var(--editor-nav-width);
    height: 100%;
    background-color: var(--color-white);
    border-right: $border-width solid var(--color-bgcolor); 

    .nav-item {
        height: 90px;
        padding: 12px;
        cursor: pointer;

        &.is-active,
        &:hover {
            position: relative;
            color: var(--color-primary);

            &::after {
                position: absolute;
                right: $border-width * -1;
                display: inline-block;
                width: $border-width;
                height: 100%;
                background-color: var(--color-primary);
                content: '';
            }

            .nav-icon {
                color: var(--color-primary);
            }
        }
    }
}

.content-warpper {
    position: relative;
    width: max-content;
    transition: var(--transition-transform);

    .content-warpper-body {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        width: var(--editor-tools-width);
        height: 100%;
        background-color: var(--color-white);
        box-shadow: $box-shadow;
        transition: var(--transition-transform);
        transform: translateX(-100%);
        contain: layout;

        &.is-open {
            transform: translateX(0);
        }
    }

    .content-btn {
        position: absolute;
        top: 50%;
        right: 0;
        width: 30px;
        height: 80px;
        background-color: var(--color-white);
        cursor: pointer;
        transform: translateX(30px);
        box-shadow: $box-shadow;
        transition: var(--transition-transform);
    }
}
